include LICENSE WEIGHTS_LICENSE.md README.md CHANGELOG.md requirements.txt
recursive-include occular *.py
recursive-include ocr_skel *.py
prune occular/weights
prune assets
prune tests
global-exclude *.onnx *.jpg *.jpeg *.png *.ipynb *.pyc
